.title {
		font-family: sans-serif;
		font-size: 40%;
}

.body {
		font-family: sans-serif;
		font-size: 50%;
}

.nav {
		font-family: sans-serif;
		font-size: 30%;
}

.home {
		font-family: sans-serif;
		font-size: 60%;
}

.create_account {
		font-family: sans-serif;
		font-size: 50%;
		width: 20px;
		border-width: 30px;
		border-radius: 30px; 	
}

.footer {
		font-family: sans-serif;
		font-size: 70%;
}











		
		
	
